<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
	<title>Solivex - Facturation system</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link rel="stylesheet" th:href="@{/webjars/fortawesome__fontawesome-free/5.15.3/css/all.css}">
	</head>
	<body>
	
		<header th:insert="layout/header :: header"></header>
		
		<div class="container mb-5">
			<div class="row">
				<div class="col-7 px-auto mx-auto text-center mt-3 mb-4 py-2 border-bottom">
					<h2><i class="far fa-trash-alt fa-lg"></i>&nbsp;Registry deletion</h2>
				</div>
				<div class="col-sm-7 p-auto m-auto">
					<div class="p-3 text-center">
					<i class="fas fa-list-alt fa-8x" style="color: #C0392B;"></i>
						<!--  <i class="fas fa-clipboard-list fa-8x" style="color: #C0392B;"></i>-->
						<br>
						<div class="my-4">
							<span class="font-weight-bolder">Are you sure to delete the following record?</span>
							<p>Order number:<span th:text="${orderDetail.id.orderNumber.orderNumber}"></span></p>
							<p>Product code:<span th:text="${orderDetail.id.productCode.productCode}"></span></p>
						</div>
						<div class="my-3">
							<a type="button" th:href="@{/orderdetail/list}" class="btn btn-info mx-3"><i class="fas fa-ban"></i>&nbsp;Cancel</a>
							<a type="button" th:href="@{/orderdetail/delete/confirm/}+${orderDetail.id.orderNumber.orderNumber}+'/'+${orderDetail.id.productCode.productCode}" class="btn btn-danger mx-3"><i class="far fa-trash-alt"></i>&nbsp;Delete</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<footer class="fixed-bottom" th:insert="layout/footer :: footer"></footer>
		
		<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
	</body>
</html>