<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
	<title>Página principal</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link rel="stylesheet" th:href="@{/webjars/fortawesome__fontawesome-free/5.15.3/css/all.css}">
	</head>
	<body>
	
		<header th:insert="layout/header :: header"></header>
		
		<div class="container mb-5">
			<div class="row">
				<div class="col-12 mt-3 mb-3 py-2 d-flex bd-highlight mb-3">
					<div class="col-sm-4 p-2 bd-highlight">
						<h2><i class="fas fa-user-tie fa-lg"></i>&nbsp;List of employees</h2>
					</div>
					<div class="col-sm-2 p-2 bd-highlight">
						<a class="btn btn-info" th:href="@{/employee/new}"><i class="fas fa-plus"></i>&nbsp;Create employee</a>
					</div>
					<div class ="ml-auto p-2 bd-highlight">
						<form class="form-inline d-flex justify-content-end" th:action="@{/employee/search}" th:method="get">
							<input class="form-control mr-sm-2 p-2" type="text" id="var" name="var" placeholder="Search" aria-label="Search">
						    <button class="btn btn btn-info my-2 my-sm-0 p-2 bd-highlight" type="submit"><i class="fas fa-search"></i>&nbsp;Search</button>
						</form>
					</div>
				</div>
				<table class="table table-striped col-sm-12 bg-light border text-center">
				  <thead>
				    <tr class="bg-buebird text-white">
				      <th scope="col">Number</th>
				      <th scope="col">Last name</th>
				      <th scope="col">First name</th>
				      <th scope="col">Email</th>
				      <th scope="col">Office code</th>
				      <th scope="col">Job title</th>
				      <!--  <th scope="col">Employee</th>-->
				      <th scope="col">Actions</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="e: ${employees}">
				      <td th:text="${e.employeeNumber}"></td>
				      <td th:text="${e.lastName}"></td>
				      <td th:text="${e.firstName}"></td>
				      <td th:text="${e.email}"></td>
				      <td th:text="${e.officeCode.officeCode}"></td>
				      <td th:text="${e.jobTitle}"></td>
				      <!--  <td th:text="${e.employee}"></td>-->
				      <td>
				      	<a th:href="@{/employee/edit/}+${e.employeeNumber}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
				      	<a th:href="@{/employee/delete/}+${e.employeeNumber}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>				      
				      </td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
		
		<footer class="fixed-bottom" th:insert="layout/footer :: footer"></footer>
		
		<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
	</body>
</html>