<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
	<title>Página principal</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link rel="stylesheet" th:href="@{/webjars/fortawesome__fontawesome-free/5.15.3/css/all.css}">
	</head>
	<body>
	
		<!-- HEADER -->
		<header th:insert="layout/header :: header"></header>
		
		<div class="container mb-5">
			<div class="row">
				<div class="col-12 mt-3 mb-3 py-2 d-flex bd-highlight mb-3">
					
					<!-- TITULO -->
					<div class="p-2 bd-highlight">
						<h2><i class="far fa-building fa-lg"></i>&nbsp;List of offices</h2>
					</div>
					
					<!-- BOTON CREAR OFICINA -->
					<div class="p-2 bd-highlight">
						<a class="btn btn-info" th:href="@{/office/new}"><i class="fas fa-plus"></i>&nbsp;Create office</a>
					</div>
					
					<!-- FORMULARIO DE BUSQUEDA -->
					<div class ="ml-auto p-2 bd-highlight">
						<form class="form-inline" th:action="@{/office/search}" th:method="get">
						   <input class="form-control mr-sm-2" type="text" id="var" name="var" placeholder="Search" aria-label="Search">
						   <button type="submit" class="btn btn btn-info my-2 my-sm-0"><i class="fas fa-search"></i>&nbsp;Search</button>
						</form>
					</div>
				</div>
				
				<!-- TABLA -->
				<table class="table table-striped col-sm-12 bg-light border text-center">
				  <thead>
				  
				 	<!-- CABECERA -->
				    <tr class="bg-buebird text-white">
				      <th scope="col">Code</th>
				      <th scope="col">City</th>
				      <th scope="col">Phone</th>
				      <th scope="col">Address</th>
				      <th scope="col">State</th>
				      <th scope="col">Country</th>
				      <th scope="col">Postal Code</th>
				      <th scope="col">Territory</th>
				      <th scope="col">Actions</th>
				    </tr>
				  </thead>
				  <tbody>
				  
				  	<!-- CONTENIDO -->
				    <tr th:each="o: ${offices}">
				      <td th:text="${o.officeCode}"></td>
				      <td th:text="${o.city}"></td>
				      <td th:text="${o.phone}"></td>
				      <td th:text="${o.addressLine1} + ' ' + ${o.addressLine2}"></td>
				      <td th:text="${o.state}"></td>
				      <td th:text="${o.country}"></td>
				      <td th:text="${o.postalCode}"></td>
				      <td th:text="${o.territory}"></td>
				      
				      <!-- BOTONES EDITAR Y BORRAR -->
				      <td>
				      	<a class="btn btn-warning" th:href="@{/office/edit/}+${o.officeCode}"><i class="fas fa-edit"></i></a>
				      	<a class="btn btn-danger" th:href="@{/office/delete/}+${o.officeCode}"><i class="far fa-trash-alt"></i></a>
				      </td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
		
		<!-- FOOTER -->
		<footer class="fixed-bottom" th:insert="layout/footer :: footer"></footer>
		
		<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
	</body>
</html>