<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
	<title>Solivex - Facturation system</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link rel="stylesheet" th:href="@{/webjars/fortawesome__fontawesome-free/5.15.3/css/all.css}">
	</head>
	<body>
	
		<!-- HEADER -->
		<header th:insert="layout/header :: header"></header>
		
		<div class="container mb-5">
			<div class="row">
				<div class="col-12 mt-3 mb-3 py-2 d-flex bd-highlight mb-3">
				
					<!-- TITULO -->
					<div class="p-2 bd-highlight">
						<h2><i class="fas fa-coins fa-lg"></i>&nbsp;List of payments</h2>
					</div>
					
					<!-- BOTON CREAR PAGO -->
					<div class="p-2 bd-highlight">
						<a class="btn btn-info" th:href="@{/payment/new}"><i class="fas fa-plus"></i>&nbsp;Create payment</a>
					</div>
					
					<!-- FORMULARIO DE BUSQUEDA -->
					<div class ="ml-auto p-2 bd-highlight">
					<!--  	<form class="form-inline" th:action="@{/payment/search}" th:method="get">-->
						<form class="form-inline">
						   <input class="form-control mr-sm-2" type="text" id="var" name="var" placeholder="Search" aria-label="Search">
						   <button type="submit" class="btn btn btn-info my-2 my-sm-0"><i class="fas fa-search"></i>&nbsp;Search</button>
						</form>
					</div>
				</div>
				
				<!-- TABLA -->
				<table class="table table-striped col-sm-12 bg-light border">
				 
				  <!-- CABECERA -->
				  <thead>
				    <tr class="bg-buebird text-white">
				      <th scope="col">Customer number</th>
				      <th scope="col">Check number</th>
				      <th scope="col">Payment Date</th>
				      <th scope="col">Amount</th>
				      <th scope="col">Actions</th>
				    </tr>
				  </thead>
				  <tbody>
				  
				  <!-- CONTENIDO -->
				    <tr th:each="p: ${payments}">
				      	<td th:text="${p.id.customerNumber.customerNumber}"></td>
						<td th:text="${p.id.checkNumber}"></td>
						<td th:text="${p.paymentDate}"></td>
						<td th:text="${p.amount}"></td>
						
						<!-- BOTONES EDITAR Y BORRAR -->
						<td>
 			      		  <a class="btn btn-warning" th:href="@{/payment/edit/}+${p.id.customerNumber.customerNumber}+'/'+${p.id.checkNumber}"><i class="fas fa-edit"></i></a>
				      	  <a class="btn btn-danger" th:href="@{/payment/delete/}+${p.id.customerNumber.customerNumber}+'/'+${p.id.checkNumber}"><i class="far fa-trash-alt"></i></a>
				      	</td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
		
		<!-- FOOTER -->
		<footer class="fixed-bottom" th:insert="layout/footer :: footer"></footer>
		
		<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
	</body>
</html>