<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
	<title>Solivex - Facturation system</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link rel="stylesheet" th:href="@{/webjars/fortawesome__fontawesome-free/5.15.3/css/all.css}">
	</head>
	<body>
	
	<!-- HEADER -->
		<header th:insert="layout/header :: header"></header>
		
		<div class="container mb-5">
			<div class="row">
			
				<!-- TITULO -->
				<div class="col-7 px-auto mx-auto text-center mt-3 mb-4 py-2 border-bottom">
					<h2><i class="far fa-building fa-lg"></i>&nbsp;Office registration</h2>
				</div>
				
				<!-- FORMULARIO DE REGISTRO -->
				<form class="bg-white col-sm-7 p-auto m-auto border" th:action="@{/office/save}" th:method="post" th:object="${office}">
					<div class="p-2">
					  <div class="form-group">
					  
					  		<!-- CAMPOS DEL FORMULARIO  th:unless=${office.officeCode}-->
						  	<div class="p-3">
						  		<div class="form-group">
								    <label for="officeCode">Code</label>
								     <input type="text" class="form-control" id="officeCode" th:field="*{officeCode}" placeholder="Enter the office code">
								     <div class="alert alert-danger col-sm-12 mt-1" role="alert" th:if="${#fields.hasErrors('officeCode')}" th:errors="*{officeCode}" ></div>
						  		</div>
						  		<div class="form-group">
								    <label for="city">City</label>
								    <input type="text" class="form-control" id="city" th:field="*{city}" placeholder="Enter the city where the office is located">
								    <div class="alert alert-danger col-sm-12 mt-1" role="alert" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
						  		</div>
						  		<div class="form-group">
								    <label for="phone">Phone</label>
								    <input type="text" class="form-control" id="phone" th:field="*{phone}" placeholder="Enter the office phone number">
								    <div class="alert alert-danger col-sm-12 mt-1" role="alert" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
						  		</div>
							  	<div class="form-group">
								    <label for="addressLine1">Address Line 1</label>
								    <input type="text" class="form-control" id="addressLine1" th:field="*{addressLine1}" placeholder="Enter the office address line 1">
								    <div class="alert alert-danger col-sm-12 mt-1" role="alert" th:if="${#fields.hasErrors('addressLine1')}" th:errors="*{addressLine1}"></div>
							  	</div>
							  	<div class="form-group">
								    <label for="addressLine2">Address Line 2</label>
								    <input type="text" class="form-control" id="addressLine2" th:field="*{addressLine2}" placeholder="Enter the office address line 2 (optional)">
						  		</div>
							  	<div class="form-group">
								    <label for="state">State</label>
								    <input type="text" class="form-control" id="state" th:field="*{state}" placeholder="Enter the state where the office is located">
						  		</div>
							  	<div class="form-group">
								    <label for="country">Country</label>
								    <input type="text" class="form-control" id="country" th:field="*{country}" placeholder="Enter the country where the office is located">
								    <div class="alert alert-danger col-sm-12 mt-1" role="alert" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div>
						  		</div>
							  	<div class="form-group">
								    <label for="postalCode">Postal code</label>
								    <input type="text" class="form-control" id="postalCode" th:field="*{postalCode}" placeholder="Enter the zip code where the office is located">
						  			<div class="alert alert-danger col-sm-12 mt-1" role="alert" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></div>
						  		</div>
							  	<div class="form-group">
								    <label for="territory">Territory</label>
								    <input type="text" class="form-control" id="territory" th:field="*{territory}" placeholder="Enter the territory where the office is located">
								    <div class="alert alert-danger col-sm-12 mt-1" role="alert" th:if="${#fields.hasErrors('territory')}" th:errors="*{territory}"></div>
						  		</div>
						  		
						  		<!-- BOTONES DE GUARDAR Y CANCELAR -->
							  	<div class="mt-4">
							  		<button type="submit" class="btn bg-info btn-lg btn-block text-white"><i class="far fa-save"></i>&nbsp;Save office</button>
							  		<a th:href="@{/office/list}" class="btn bg-secondary btn-lg btn-block text-white"><i class="fas fa-ban"></i>&nbsp;Cancel</a>
							  	</div>  
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<br><br><br>
		
		<!-- FOOTER -->
		<footer th:insert="layout/footer :: footer"></footer>
		
		<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
	</body>
</html>