<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
	<title>Página principal</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link rel="stylesheet" th:href="@{/webjars/fortawesome__fontawesome-free/5.15.3/css/all.css}">
	</head>
	<body>
	
		<header th:insert="layout/header :: header"></header>
		
		<div class="container mb-5">
			<div class="row">
				<div class="col-7 px-auto mx-auto text-center mt-3 mb-4 py-2 border-bottom">
					<h2><i class="fab fa-dropbox fa-lg"></i>&nbsp;Registro producto</h2>
				</div>
				<form class="bg-white col-sm-7 p-auto m-auto border" th:action="@{/producto/guardar}" th:method="post" th:object="${products}">
					<div class="p-2">
					  <div class="form-group">
						  	<div class="p-3">
						  		<div class="form-group">
								    <label for="codigo">Código</label>
								    <input type="text" class="form-control" id="codigo" th:field="*{productCode}" placeholder="Ingresar el codigo del producto">
						  			<div class="alert alert-danger col-sm-12 mt-1" role="alert" th:if="${#fields.hasErrors('productCode')}" th:errors="*{productCode}" ></div>
						  		</div>
						  		<div class="form-group">
								    <label for="nombre">Nombre</label>
								    <input type="text" class="form-control" id="nombre" th:field="*{productName}" placeholder="Ingresar el nombre del producto">
						  		<div class="alert alert-danger col-sm-12 mt-1" role="alert" th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"></div>
						  		</div>
						  		<div class="form-group">
								    <label for="lineaproducto">Linea de producto</label>
								    <select th:field="*{productlines.productLine}" class="form-control" name="productLine" id="productLine">
									  <option th:each="p:${productlines}" th:value="${p.productLine}">
										<span th:text="${p.productLine}"></span>
									</option>
									</select>
									  	
									<div class="alert alert-danger col-sm-12 mt-1" role="alert" th:if="${#fields.hasErrors('productlines.productLine')}" th:errors="*{productlines.productLine}"></div>											    
							  	</div>
							  	<div class="form-group">
								    <label for="vendedorproducto">Escala</label>
								    <input type="text" class="form-control" id="proveedor"  th:field="*{productScale}" placeholder="Ingresar la escala del producto">
						  		<div class="alert alert-danger col-sm-12 mt-1" role="alert" th:if="${#fields.hasErrors('productScale')}" th:errors="*{productScale}"></div>
						  		</div>
						  		<div class="form-group">
								    <label for="vendedorproducto">Proveedor</label>
								    <input type="text" class="form-control" id="proveedor" th:field="*{productVendor}" placeholder="Ingresar el proveedor del producto">
						  		<div class="alert alert-danger col-sm-12 mt-1" role="alert" th:if="${#fields.hasErrors('productVendor')}" th:errors="*{productVendor}"></div>
						  		</div>
							  	<div class="form-group">
								    <label for="descripcion">Descripción</label>
								    <input type="text" class="form-control" id="descripcion" th:field="*{productDescripton}" placeholder="Ingresar descripción del producto">
							  	<div class="alert alert-danger col-sm-12 mt-1" role="alert" th:if="${#fields.hasErrors('productDescripton')}" th:errors="*{productDescripton}"></div>
							  	</div>
							  	<div class="form-group">
								    <label for="stock">Stock</label>
								    <input type="text" class="form-control" id="stock" th:field="*{quantityInStock}" placeholder="Ingresar stock del producto">
							  	<div class="alert alert-danger col-sm-12 mt-1" role="alert" th:if="${#fields.hasErrors('quantityInStock')}" th:errors="*{quantityInStock}"></div>
							  	</div>
						  		<div class="form-group">
								    <label for="preciocompra">Precio de compra</label>
								    <input type="text" class="form-control" id="preciocompra" th:field="*{buyPrice}" placeholder="Ingresar precio de compra del producto">
						  		<div class="alert alert-danger col-sm-12 mt-1" role="alert" th:if="${#fields.hasErrors('buyPrice')}" th:errors="*{buyPrice}"></div>
						  		</div>
							  	<div class="form-group">
								    <label for="preciolista">Precio de lista</label>
								    <input type="text" class="form-control" id="preciolista" th:field="*{msrp}" placeholder="Ingresar precio de lista del producto">
							  	<div class="alert alert-danger col-sm-12 mt-1" role="alert" th:if="${#fields.hasErrors('msrp')}" th:errors="*{msrp}"></div>
							  	</div>
							  
							  	<div class="mt-4">
							  		<button type="submit" th:href="@{/producto/guardar}" class="btn bg-maxblue btn-lg btn-block text-white"><i class="far fa-save"></i>&nbsp;Save customer</button>
							  		<a th:href="@{/producto/listar}" class="btn bg-secondary btn-lg btn-block text-white"><i class="fas fa-ban"></i>&nbsp;Cancel</a>
							  	</div>
								  
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		
		<footer th:insert="layout/footer :: footer"></footer>
		
		<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
	</body>
</html>