<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
	<title>Solivex - Facturation system</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link rel="stylesheet" th:href="@{/webjars/fortawesome__fontawesome-free/5.15.3/css/all.css}">
	</head>
	<body>
	
		<!-- HEADER -->
		<header th:insert="layout/header :: header"></header>

		<div class="container mb-5">
			<div class="row">
			
				<!-- TITULO -->
				<div class="col-7 px-auto mx-auto text-center mt-3 mb-4 py-2 border-bottom">
					<h2><i class="fas fa-user-tie fa-lg"></i>&nbsp;Employee registration</h2>
				</div>
				
				<!-- FORMULARIO DE DATOS PERSONALES DEL EMPLEADO -->
				  <form class="bg-white col-sm-7 p-auto m-auto border" th:action="@{/employee/save}" th:method="post" th:object="${employee}">								
					<div class="p-2">
					  <div class="form-group">
					  
					  		<!-- CAMPOS DEL FORMULARIO th:unless=${employee.employeeNumber} -->
						  	<div class="p-3">
						  		<div class="form-group">
								    <label for="number">Number</label>
								    <input type="number" class="form-control" id="number" th:field="*{employeeNumber}" placeholder="Enter the employee number">
								    <div class="alert alert-danger col-sm-12 mt-1" role="alert" th:if="${#fields.hasErrors('employeeNumber')}" th:errors="*{employeeNumber}" ></div>
						  		</div>
						  		<div class="form-group">
								    <label for="lastName">Last name</label>
								    <input type="text" class="form-control" id="lastName" th:field="*{lastName}" placeholder="Enter the employee's last name">
								    <div class="alert alert-danger col-sm-12 mt-1" role="alert" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
						  		</div>
						  		<div class="form-group">
								    <label for="firstName">First name</label>
								    <input type="text" class="form-control" id="firstName" th:field="*{firstName}" placeholder="Enter the name of the employee">
								    <div class="alert alert-danger col-sm-12 mt-1" role="alert" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
						  		</div>
						  		<div class="form-group">
								    <label for="extension">Extension</label>
								    <input type="text" class="form-control" id="extension" th:field="*{extension}" placeholder="Enter the employee's extension">
								    <div class="alert alert-danger col-sm-12 mt-1" role="alert" th:if="${#fields.hasErrors('extension')}" th:errors="*{extension}"></div>
						  		</div>
							  	<div class="form-group">
								    <label for="email">Email</label>
								    <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Enter the employee's email">
								    <div class="alert alert-danger col-sm-12 mt-1" role="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
							  	</div>
							  	<div class="form-group">
								    <label for="officeCode">Office code</label>
								    <select th:field="*{officeCode.officeCode}" class="form-control" id="officecode" name="officecode">
										<option th:each="o:${offices}" th:value="${o.officeCode}">
									  		<span th:text="${o.officeCode}"></span>	
									  	</option>
									</select>
							  	</div>
							  	<div class="alert alert-danger col-sm-12 mt-1" role="alert" th:if="${#fields.hasErrors('officeCode.officeCode')}" th:errors="*{officeCode.officeCode}"></div>
							  	
						  		<div class="form-group">
								    <label for="jobTitle">Job title</label>
								    <input type="text" class="form-control" id="jobTitle" th:field="*{jobTitle}" placeholder="Enter the employee's job title">
								    <div class="alert alert-danger col-sm-12 mt-1" role="alert" th:if="${#fields.hasErrors('jobTitle')}" th:errors="*{jobTitle}"></div>
						  		</div>
						  		<div class="form-group">
								    <label for="employee">Report to</label>
								    <select th:field="*{employee.employeeNumber}" class="form-control"  name="employeeNumber" id="employeeNumber">
								      <option th:value="0" >None</option>
									  <option th:each="e:${employees}" th:value="${e.employeeNumber}">
											<span th:text="${e.lastName} + ${e.firstName}"></span>
									  </option>
									</select>								    
							  	</div>
							  	
							  	<!-- DATOS DE USUARIO 
							  	
							  	<div class="my-2 p-2 bg-darkgray text-dark text-center">
							  		<h3><i class="fas fa-user-lock fa-sm"></i>&nbsp;User date</h3>
							  	</div>
						  		<div class="form-group">
								    <label for="username">Username</label>
								    <input type="text" class="form-control" th:field="*{user.username}" id="username" name="username" placeholder="Enter a username">
						  		</div>						  	
						  		<div class="form-group">
								    <label for="jobTitle">Password</label>
								    <input type="password" class="form-control" th:field="*{user.password}" id="password" name="password" placeholder="Enter a user password">
						  		</div>
							  	<div class="form-group">
								    <label for="role">Role</label>
								    <select th:field="*{user.role}" class="form-control" id="role" name="role">
									  <option value="">Select option</option>
									  <option value="admin">Administrator</option>
									  <option value="director">Director</option>
									  <option value="supervisor">Supervisor</option>
									  <option value="seller">Seller</option>
									</select>								    
							  	</div>-->
							  	
							  	<!-- BOTONES DE GUARDAR Y CANCELAR -->
							  	<div class="mt-4">
							  		<button type="submit" class="btn bg-info btn-lg btn-block text-white"><i class="far fa-save"></i>&nbsp;Save employee</button>
									<a th:href="@{/employee/list}" class="btn bg-secondary btn-lg btn-block text-white"><i class="fas fa-ban"></i>&nbsp;Cancel</a>
							  	</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		
		<!-- FOOTER -->
		<footer th:insert="layout/footer :: footer"></footer>
		
		<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
	</body>
</html>