<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
	<title>Página principal</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link rel="stylesheet" th:href="@{/webjars/fortawesome__fontawesome-free/5.15.3/css/all.css}">
	</head>
	<body>
	
		<header th:insert="layout/header :: header"></header>
		
		<div class="container mb-5">
			<div class="row">
				<div class="col-7 px-auto mx-auto text-center mt-3 mb-4 py-2 border-bottom">
					<h2><i class="fas fa-user-friends fa-lg"></i>&nbsp;Customers registration</h2>
				</div>
				<form class="bg-white col-sm-7 p-auto m-auto border">
					<div class="p-2">
					  <div class="form-group">
						  	<div class="p-3">
						  		<div class="form-group">
								    <label for="nombreyapellido">Number</label>
								    <input type="text" class="form-control" id="nombreyapellido" placeholder="Ingresar el nombre y apellido del cliente">
						  		</div>
						  		<div class="form-group">
								    <label for="nombreyapellido">Name</label>
								    <input type="text" class="form-control" id="nombreyapellido" placeholder="Ingresar el nombre y apellido del cliente">
						  		</div>
						  		<div class="form-group">
								    <label for="nombrecontacto">Contact last name</label>
								    <input type="text" class="form-control" id="nombrecontacto" placeholder="Ingresar el nombre del contacto del cliente">
						  		</div>
						  		<div class="form-group">
								    <label for="apellidocontacto">Contact first name</label>
								    <input type="text" class="form-control" id="apellidocontacto" placeholder="Ingresar el apellido del contacto del cliente">
						  		</div>
							  	<div class="form-group">
								    <label for="telefono">Phone</label>
								    <input type="text" class="form-control" id="telefono" placeholder="Ingresar el número de teléfono del cliente">
							  	</div>
							  	<div class="form-group">
								    <label for="direccion">Address line 1</label>
								    <input type="text" class="form-control" id="direccion" placeholder="Ingresar la dirección del cliente">
							  	</div>
						  		<div class="form-group">
								    <label for="direccionsecundaria">Address line 2</label>
								    <input type="text" class="form-control" id="direccionsecundaria" placeholder="Ingresar una dirección secundaria del cliente">
						  		</div>
							  	<div class="form-group">
								    <label for="ciudad">City</label>
								    <input type="text" class="form-control" id="ciudad" placeholder="Ingresar la ciudad donde reside cliente">
							  	</div>
							  	<div class="form-group">
								    <label for="estado">State</label>
								    <input type="text" class="form-control" id="estado" placeholder="Ingresar el estado donde reside el cliente">
							  	</div>
							  	<div class="form-group">
								    <label for="cp">Postal code</label>
								    <input type="text" class="form-control" id="cp" placeholder="Ingresar el codigo postal de lugar donde reside el cliente">
							  	</div>
							  	<div class="form-group">
								    <label for="pais">Country</label>
								    <input type="text" class="form-control" id="pais" placeholder="Ingresar país donde reside el cliente">
							  	</div>
						  		<div class="form-group">
								    <label for="empleado">Sales rep employee number</label>
								    <select class="form-control" id="empleado">
									  <option>Select an option</option>
									</select>								    
							  	</div>
							  	<div class="form-group">
								    <label for="cledito">Credit limit</label>
								    <input type="number" class="form-control" id="credito" placeholder="Ingresar el credito disponible del cliente">
							  	</div>
							  	<div class="mt-4">
							  		<button type="button" th:href="@{/cliente/nuevo}" class="btn bg-maxblue btn-lg btn-block text-white"><i class="far fa-save"></i>&nbsp;Create customer</button>
							  	</div>
								  
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		
		<footer th:insert="layout/footer :: footer"></footer>
		
		<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
	</body>
</html>