<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
	<title>Solivex - Facturation system</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link rel="stylesheet" th:href="@{/webjars/fortawesome__fontawesome-free/5.15.3/css/all.css}">
	</head>
	<body>
	
		<header th:insert="layout/header :: header"></header>
		
		<div class="container mb-5">
			<div class="row">
				<div class="col-7 px-auto mx-auto text-center mt-3 mb-4 py-2 border-bottom">
					<h2><i class="fas fa-clipboard-list fa-lg"></i>&nbsp;Order detail registration</h2>
				</div>
				<form class="bg-white col-sm-7 p-auto m-auto border" th:action="@{/orderdetail/save}" th:method="post" th:object="${orderDetail}">
					<div class="p-2">
					  <div class="form-group">
						  	<div class="p-3">
						  		<div class="form-group">
								    <label for="ordernumber">Order number</label>
								    <select th:field="*{id.orderNumber}" class="form-control" id="ordernumber" name="ordernumber">
									  <option th:each="d:${orders}" th:value="${d.orderNumber}">
									  	 <span th:text="${d.orderNumber}"></span>
									  </option>
									</select>								    
							  	</div>
						  		<div class="form-group">
								    <label for="productcode">Product code</label>
								    <select th:field="*{id.productCode}" class="form-control" id="poductcode">
									  <option th:each="p: ${products}" th:value="${p.productCode}">
									  	<span th:text="${p.productCode}"></span>
									  </option>
									</select>								    
							  	</div>
						  		<div class="form-group">
								    <label for="quantityOrdered">Quantity ordered</label>
								    <input th:field="*{quantityOrdered}" type="number" class="form-control" id="quantityOrdered" placeholder="Enter the quantity ordered">
						  		</div>
							  	<div class="form-group">
								    <label for="priceEach">Prince Each</label>
								    <input th:field="*{priceEach}" type="number" class="form-control" id="priceEach" placeholder="Enter the price of each order">
						  		</div>
							  	<div class="form-group">
								    <label for="orderLineNumber">Order line number</label>
								    <input  th:field="*{orderLineNumber}" type="number" class="form-control" id="orderLineNumber" placeholder="Enter order line number">
						  		</div>
							  	<div class="mt-4">
							  		<button type="submit" th:href="@{/orderdetail/save}" class="btn bg-maxblue btn-lg btn-block text-white"><i class="far fa-save"></i>&nbsp;Save order detail</button>
							  		<a th:href="@{/orderdetail/list}" class="btn bg-secondary btn-lg btn-block text-white"><i class="fas fa-ban"></i>&nbsp;Cancel</a>
							  	</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<br><br>
		<footer class="fixed-bottom" th:insert="layout/footer :: footer"></footer>
		
		<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
	</body>
</html>