<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
	<title>Página principal</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link rel="stylesheet" th:href="@{/webjars/fortawesome__fontawesome-free/5.15.3/css/all.css}">
	</head>
	<body>
	
		<header th:insert="layout/header :: header"></header>
		
		<div class="container mb-5">
			<div class="row">
				<div class="col-7 px-auto mx-auto text-center mt-3 mb-4 py-2 border-bottom">
					<h2><i class="fas fa-boxes  fa-lg"></i>&nbsp;Registro linea de producto</h2>
				</div>
				<form class="bg-white col-sm-7 p-auto m-auto border" th:action="@{/lineaproducto/guardar}" th:method="post" th:object="${productlines}">
					<div class="p-2">
					  <div class="form-group">
						  	<div class="p-3">
						  		<div class="form-group">
								    <label for="codigo">Linea de producto</label>
								    <input th:field="*{productLine}" type="text" class="form-control" id="codigo" placeholder="Ingresar linea de producto">
						  		</div>
						  		<div class="form-group">
								    <label for="descripcion">Descripción</label>
								    <input th:field="*{textDescripton}" type="text" class="form-control" id="descripcion" placeholder="Ingresar descripción de la linea">
						  		</div>
							  	<div class="form-group">
								    <label for="vendedorproducto">Descipción de la página</label>
								    <input th:field="*{htmlDescription}" type="text" class="form-control" id="proveedor" placeholder="Ingresar la descripcion de la pagina">
						  		</div>
								<div class="card text-center mx-auto px-auto my-4" style="width: 18rem;">
								   	<img th:src="@{/img/noimageavaiable.png}" class="card-img-top" alt="...">
									<!--<div class="card-body">
									    <a href="#" class="btn btn-info"><i class="fas fa-upload"></i>&nbsp;subir imagen</a>
									</div> 
									<img id="output" style="padding-top: 5px; width: 180px;height: 100%;">-->
									
            					<div class="col-md-8 offset-md-2">
            		<label for="image" class="form-label"> Image</label>
            		<div class="cont-form">
            			<img id="output" style="padding-top: 5px; width: 180px;height: 100%;">
            			<br>
            			<input th:field="*{image}" type="file" class="form-control-file inputfile " id="image" 
            				accept="image/x-png,image/gif,image/jpeg,image/png"
            				onchange="loadFile(event)" style="margin-top: 20px;"
            			/> 
            			
                  <div class=" alert alert-danger" th:if="${#fields.hasErrors('image')}" th:errors="*{image}" ></div>
            		    </div>
            		
          		            </div>
									</div>	  		
							  	<div class="mt-4">
							  		<button type="submit" class="btn bg-info btn-lg btn-block text-white"><i class="far fa-save"></i>&nbsp;Save Productline</button>
							  		<a th:href="@{/lineaproducto/listar}" class="btn bg-secondary btn-lg btn-block text-white"><i class="fas fa-ban"></i>&nbsp;Cancel</a>
							  	</div>	  
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		
		<footer th:insert="layout/footer :: footer"></footer>
		
		<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
	</body>
</html>