<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
	<title>Página principal</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link rel="stylesheet" th:href="@{/webjars/fortawesome__fontawesome-free/5.15.3/css/all.css}">
	</head>
	<body>
	
		<header th:insert="layout/header :: header"></header>
		
		<div class="container mb-5">
			<div class="row">
				<div class="col-7 px-auto mx-auto text-center mt-3 mb-4 py-2 border-bottom">
					<h2><i class="fas fa-user-friends fa-lg"></i>&nbsp;Customers registration</h2>
				</div>
				<form class="bg-white col-sm-7 p-auto m-auto border" th:action="@{/customer/save}" th:method="post" th:object="${customer}">
					<div class="p-2">
					  <div class="form-group">
						  	<div class="p-3">
						  		<div class="form-group">
								    <label for="customerNumber">Number</label>
								    <input th:field="*{customerNumber}" type="number" class="form-control" id="customerNumber" placeholder="Enter the customer number">
						  		</div>
						  		
						  		<div class="form-group">
								    <label for="customerName">Name</label>
								    <input th:field="*{customerName}" type="text" class="form-control" id="customerName" placeholder="Enter the customer's full name">
						  		</div>
						  		<div class="form-group">
								    <label for="contactLastName">Contact last name</label>
								    <input th:field="*{contactLastName}" type="text" class="form-control" id="contactLastName" placeholder="Enter the name of the customer contact">
						  		</div>
						  		<div class="form-group">
								    <label for="contactFirstName">Contact first name</label>
								    <input th:field="*{contactFirstName}" type="text" class="form-control" id="contactFirstName" placeholder="Enter the last name of the customer contact">
						  		</div>
							  	<div class="form-group">
								    <label for="phone">Phone</label>
								    <input th:field="*{phone}" type="text" class="form-control" id="phone" placeholder="Enter the customer's phone number">
							  	</div>
							  	<div class="form-group">
								    <label for="addressLine1">Address line 1</label>
								    <input th:field="*{addressLine1}" type="text" class="form-control" id="addressLine1" placeholder="Enter the customer address line 1">
							  	</div>
						  		<div class="form-group">
								    <label for="addressLine2">Address line 2</label>
								    <input th:field="*{addressLine2}" type="text" class="form-control" id="addressLine2" placeholder="Enter the customer address line 2 (optional)">
						  		</div>
							  	<div class="form-group">
								    <label for="city">City</label>
								    <input th:field="*{city}" type="text" class="form-control" id="city" placeholder="Enter the city where the customer resides">
							  	</div>
							  	<div class="form-group">
								    <label for="state">State</label>
								    <input th:field="*{state}" type="text" class="form-control" id="state" placeholder="Enter the state where the customer resides">
							  	</div>
							  	<div class="form-group">
								    <label for="postalCode">Postal code</label>
								    <input th:field="*{postalCode}" type="text" class="form-control" id="postalCode" placeholder="Enter the zip code of the place where the customer resides">
							  	</div>
							  	<div class="form-group">
								    <label for="country">Country</label>
								    <input th:field="*{country}" type="text" class="form-control" id="country" placeholder="Enter country where the customer resides">
							  	</div> 
						  		<div class="form-group">
								    <label for="employeeNumber">Sales rep employee number</label>
								    <select th:field="*{salesRepEmployeeNumber.employeeNumber}" class="form-control" name="employeeNumber" id="employeeNumber">
									  <option th:each="e:${employees}" th:value="${e.employeeNumber}">
									  	<span th:text="${e.lastName} + ' ' + ${e.firstName}"></span>
									  </option>
									</select>								    
							  	</div>
							  	<div class="form-group">
								    <label for="cledito">Credit limit</label>
								    <input th:field="*{creditLimit}" type="number" class="form-control" id="creditLimit" placeholder="Enter the customer's credit">
							  	</div>
							  	<div class="mt-4">
							  		<button type="submit" th:href="@{/customer/save}" class="btn bg-maxblue btn-lg btn-block text-white"><i class="far fa-save"></i>&nbsp;Save customer</button>
							  		<a th:href="@{/customer/list}" class="btn bg-secondary btn-lg btn-block text-white"><i class="fas fa-ban"></i>&nbsp;Cancel</a>
							  	</div>
								  
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		
		<footer th:insert="layout/footer :: footer"></footer>
		
		<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
	</body>
</html>